<!DOCTYPE html>
<html>
<head><title>Inventory</title></head>
<body>
    <h1>Inventory</h1>
    <ul>
    {% for item in items %}
        <li>
             <span class="itemInfo">{{ item.name }} - {{ item.stock }} units @ {{ item.value }} each</span>
             <button class="editBtn" data-name="{{ item.name }}" data-stock="{{ item.stock }}" data-value="{{ item.value }}">Edit</button>
            <button class="deleteBtn" data-name="{{ item.name }}">Delete</button>
        </li>
    {% endfor %}
    </ul>
    <h2><u>Add New item</u></h2>
    <input type="text" id="itemName" placeholder="Name" required>
    <input type="number" id="itemStock" placeholder="Stock" required>
    <input type="number" id="itemValue" placeholder="Value" required>
    <button id="addBtn">Add Item</button>

    <script>
        document.querySelector("#addBtn").addEventListener("click", async() => {
            let name = document.querySelector("#itemName").value;
            let stock = document.querySelector("#itemStock").value;
            let value = document.querySelector("#itemValue").value;

            let response = await fetch("/api/items", {
                method : "POST",
                headers : {"Content-Type" : "application/json"},
                body : JSON.stringify({name : name, stock : parseInt(stock), value : parseInt(value)})
            });
            let result = await response.json();
            console.log(result);
            // location.reload();
        });

        async function deleteItem(name) {
            let response = await fetch(`/api/items/${name}`, {
                method : "DELETE"
            });
            let result = await response.json();
            console.log(result)
        }

        document.querySelectorAll(".deleteBtn").forEach(button => {
            button.addEventListener("click", async () => {
                let name = button.dataset.name;
                await deleteItem(name);
                button.parentElement.remove();
            });
        });

        async function edit_item(name, newName, newStock, newValue) {
            let response = await fetch(`/api/items/${name}`,{
                method : "PUT",
                headers : {"Content-Type" : "application/json"},
                body : JSON.stringify({
                    name : newName,
                    stock : newStock,
                    value : newValue
                })
            });
            let result = await response.json();
            console.log(result);
        }

        document.querySelectorAll(".editBtn").forEach(button => {
            button.addEventListener("click", async () => {
                let name = button.dataset.name;
                let stock = button.dataset.stock;
                let value = button.dataset.value;

                let newName = prompt("Enter new name: ",name);
                let newStock = prompt("Enter new stock: ", stock);
                let newValue = prompt("Enter new value: ",value);

                let response = await fetch(`/api/items/${name}`, {
                    method : "PUT",
                    headers : {"Content-Type" : "application/json"},
                    body : JSON.stringify({
                        name : newName,
                        stock : parseInt(newStock),
                        value : parseInt(newValue)
                    })
                });
                let result = await response.json();
                console.log(result);
            });
        });

    </script>
</body>
</html>